
.outer-grid {
    display: flex;
}

.image-grid {
    min-width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 768px) {
    .outer-grid {
        display: block;
    }
}
