
a, video {
  position: fixed;
  opacity: 0;
  transition: opacity 1s ease;
  font-size: 0;
}

div[data-active="true"] + a {
  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;
  border-radius: 0 0 5px 0;
  position: fixed;
  border-top: 0;
  border-left: 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1em;
}

div[data-active="true"] + a span.link { 
  display: none;
}

@media (max-width: 1500px) {
  div[data-active="true"] + a {
    position: absolute;
  }
}

@media (max-width: 1368px) {
  div[data-active="true"] + a {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    border-radius: 0 0 5px 0;
    padding: 3px;
    font-size: 0;
  }
  div[data-active="true"] + a .icon {
    font-size: initial;
  }
  div[data-active="true"] + a span.link { 
    display: inline;
  }
}

video {
  z-index: -1;
  top: 0;
  left: 50%;
  margin-left: -50%;
  min-width: 100%;
  height: 100vh;
}

div[data-active="true"] video, div[data-active="true"] + a {
  opacity: 1;
}

@media (max-width: 768px) {
  video {
    top: -100px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 500px) {
  video {
    top: -50px;
    width: 100%;
    height: auto;
  }
}
